



.lds-ring {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  border: 8px solid #3330C5;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3330C5 transparent transparent transparent;
  z-index: 2;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.loading-screen{
  height: 698px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
}
.loading-screen .user{
  width: 150px;
  height: 150px;
  position: relative;
}
.loading-screen .user img{
  position: absolute;

}
.web-cam{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  position: absolute;
}
.cercle{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: absolute;
  z-index: 1;
  border: 8px solid #EBEBFA;
}
.loading-screen video {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -75px;
  left: -75px;
}

.video-9{
  width: 1256px;
  height: 696px;
  background-color: #F8F6FF;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.video-bg{
  width: 913px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.video-bg video{
  object-fit: cover;
}
.side{
  width: 343px;
  display: inline-block;
  vertical-align: top;
  background: url(./assets/images/side.jpg) no-repeat center center;
  height: 698px;
  background-size: contain;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  .parent div{
    height: 210px;
    position: relative;
    overflow: hidden;
  }
  .parent h5{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
    font-size: 14px;
    text-shadow: 0px 0.7px 1px #000000;
    font-weight: 500;
  }
  .eye{
    position: absolute !important;
    top: 9px;
    right: 9px;
    z-index: 2 !important;
    width: 32px;
    height: 32px !important;
    background: url(./assets/images/eye.png) no-repeat center center;
    background-size: contain;
  }
  .rec{
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #EF2111;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 7px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
  }
  .rec img{
    height: 20px;
    padding-right: 4px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2;}
  .div2 { grid-area: 1 / 2 / 2 / 3;}
  .div3 { grid-area: 1 / 3 / 2 / 4; left: -1px;}
  .div4 { grid-area: 2 / 3 / 3 / 4; left: -1px}
  .div5 { grid-area: 2 / 2 / 3 / 3;}
  .div6 { grid-area: 2 / 1 / 3 / 2;}
  .div7 { grid-area: 3 / 1 / 4 / 2;}
  .div8 { grid-area: 3 / 2 / 4 / 3;}
  .div9 { grid-area: 3 / 3 / 4 / 4; left: -1px}

  .bg{
    background: url(./assets/images/user10.gif) no-repeat center center;
    background-size: cover;
  }

.navigation-footer{
  height: 77px;
  background: url(./assets/images/footer.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
}
.blink-2 {
	-webkit-animation: blink-2 0.9s infinite;
	animation: blink-2 0.9s infinite;
}
@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
